/*! Handmade by @b10nik */

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-text-size-adjust: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #303030;
  color: #fdfdfd;

  font-size: 16px;

  font-family: 'Noto Sans', sans-serif;
}

body * {
  line-height: 1;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.root {
  padding: 20px;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

h1 {
  margin-bottom: 5px;
}

header, .userlist, .userform {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
}

.userlist {

  .user {
    @extend .cf;
    border: 1px solid #404040;
    margin-bottom: 10px;
    padding: 10px;
    background: #323232;

    &:nth-child(even) {
      background: #383838;
    }

    .meta {
      @extend .cf;
      display: inline-block;

      h3 {
        display: inline-block;
        font-size: 20px;
        vertical-align: middle;
        line-height: 36px;
        padding-left: 8px;
      }

      .credit {
        display: inline-block;
        margin-left: 10px;
        font-size: 20px;
        vertical-align: middle;
        line-height: 36px;
      }

      .add-credit {
        background: transparent;
        border: none;
        color: #fdfdfd;
        padding: 6px 12px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 12px;
        vertical-align: middle;
        margin-left: 0;
        text-decoration: underline;
      }

    }

    .tools {
      display: inline-block;
      float: right;
      vertical-align: middle;

      .use-credit {
        background: transparent;
        border: none;
        color: #fdfdfd;
        padding: 6px 10px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 20px;
        vertical-align: middle;
        border: 2px solid #fdfdfd;
      }

      .other-sum {
        font-size: 14px;
        line-height: 20px;
      }

      button {
        margin-left: 10px;
      }


    }
  }
}



.userform {
  @extend .cf;
  border: 1px solid #404040;
  background: #323232;
  margin-bottom: 10px;
  padding: 10px;

  input[type="text"], input[type="number"] {
    background: transparent;
    border: none;
    color: #fdfdfd;
    padding: 3px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
    border: 2px solid #fdfdfd;
    margin-right: 10px;
  }
  input[type="submit"] {
    background: transparent;
    border: none;
    color: #fdfdfd;
    padding: 5px 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    vertical-align: middle;
    border: 2px solid #fdfdfd;
    float: right;
  }
}

@media (hover) {

  .sweet-alert {
    button.cancel {
      &:hover {
        background-color: #505050;
      }
    }
  }

  .userlist {
    .user {
      .tools {
        .use-credit {
          &:hover {
            background: #fdfdfd;
            color: #303030;
          }
        }
      }
    }
  }

}

@media (max-width: 600px) {

  body {
    font-size: 12px;
  }

  .userlist {
    .user {

      .meta {
        display: block;
        h3 {
          font-size: 16px;
          line-height: 24px;
          padding-left: 0;
        }

        .credit {
          font-size: 16px;
          line-height: 24px;
          float: right;
          padding-right: 0;
        }

        .add-credit {
          padding: 6px 2px;
          font-size: 11px;
          margin-left: 8px;
        }

      }

      .tools {
        float: none;
        margin-top: 8px;
        display: block;
        padding-right: 0px;
        text-align: right;

        .use-credit {
          padding: 6px 8px;
          font-size: 13px;
        }

        .other-sum {
          font-size: 10px;
          padding-left: 8px;
          padding-right: 9px;
          line-height: 13px;
          margin-left: 0;
        }

        button {
          margin-left: 10px;
        }
      }
    }
  }

  .userform {
    input[type="text"], input[type="number"] {
      font-size: 14px;

    }
    input[type="text"] {
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 10px;
    }

    input[type="number"] {
      width: 165px;
    }

    input[type="submit"] {
      margin-left: 0;
      width: 57px;
      font-size: 14px;
      padding: 4px 10px;
    }
  }
}

.sweet-alert {
  background: #333;
  font-family: 'Noto Sans', sans-serif;

  h2 {
    color: #fdfdfd;
  }

  p {
    color: #fdfdfd;
  }

  input {
    background: #282828;
    border: none;
    color: #fdfdfd;
    outline: none;
  }

  button.cancel {
    background-color: #484848;
  }

  input:focus {
    box-shadow: none;
    border: none;
    outline: none;
    color: #fdfdfd;
  }

  .sa-error-container {
    background-color: #282828;
  }

  .sa-input-error {
    top: 23px;
    right: 16px;
  }

  .sa-icon.sa-success::before, .sa-icon.sa-success::after {
    background: #333;
  }

  .sa-icon.sa-success .sa-fix {
    background-color: #333;
  }

}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}